PGHOST=localhost
PGPORT=5555
POSTGRES_DB=postgres
PGUSER=postgres
PGPASSWORD=postgres

# https://help.accredible.com/s/article/smtp-setup-in-gmail-inbox?language=en_US
MAIL_USERNAME=<email>
MAIL_PASSWORD=<app_password>

WHEREBY_API_KEY=<api_key>